body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }

  .wrapper-div{
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  

/* Ensure the menu bar stays on top */
#menu-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 50px;
    padding-left: 50px;
    height: 115px;
    grid-row: 1;
    background-color: #f0eeed;
  }
  
  #menu-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
  }
  
  #logo-menubar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo {
    height: 80px;
    width: auto;
    padding-top: 10px;
  }
  
  .menu-text {
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    font-size: 20px;
    color: black;
  }
  
  
  a {
    text-decoration: none;
  }
  
  main{
    height: 100%;
  }

.calendar-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
}

.wrapper {
  width: 450px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
  margin: 150px;
  margin-top: 10px;
  padding: 10px;
}
.wrapper header {
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}
header .icons .secondIcons{
  display: flex;
}
header .icons .secondIcons span {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons .secondIcons span:last-child {
  margin-right: -10px;
}
header .icons .secondIcons span:hover {
  background: #f2f2f2;
}
header .current-date {
  font-size: 1.45rem;
  font-weight: 500;
  margin: 0;
}

.calendar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days {
  margin-bottom: 20px;
  padding-left: 0px;
}

.calendar .weeks {
    padding-left: 0px;
}
.calendar li {
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}
.calendar .weeks li {
  font-weight: 500;
  cursor: default;
}
.calendar .days li {
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}
.days li.inactive {
  color: #aaa;
}
.days li.active {
  color: #fff;
}
.days li::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.active::before {
  background: #9b59b6;
}
.days li:not(.active):hover::before {
  background: #f2f2f2;
}

.final-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}


.people-wrapper{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.people-selector{
  width: 50%;
  height: 100%;
  background-color: red;
}