<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About us</title>
    <link rel="stylesheet" href="/amenities.css" />
    <link rel="stylesheet" href="/menubar.css">
    <link rel="stylesheet" href="/footer.css">
    <script src="/src/menubar.js" defer></script>
    <script src="/src/amenities.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap"
      rel="stylesheet"
    />
</head>
<body>
    <div id="wrapper-div">
        <div id="menu-bar">
            <div id="logo-menubar">
              <a href="/">
                <img src="/img/IMG_3762.jpg" alt="Logo" class="logo" />
              </a>
            </div>
            <div id="menu-options">
              <a class="menu-text" href="/aboutUs">About us</a>
              <a class="menu-text" href="/amenities">Amenities</a>
              <a class="menu-text" href="/contactUs">Contact us</a>
              <a class="menu-text" href="/booking-page">Book now</a>
            </div>
        </div>
        <div class="hero-image">
            <div class="absolute-wrapper">
                <div class="colored-backgrounds">
                    <div class="colored-background"></div>
                    <div class="colored-background"></div>
                    <div class="colored-background"></div>
                    <div class="colored-background"></div>
                </div>
            </div>
            
            <main>
                <div class="content">
                    <div class="heading">
                        <h1 class="hero-title">World Class living</h1>
                        <p class="hero-description">Explore a world of comfort and convenience. <br> From luxurious pools to state-of-the-art fitness centers, <br> our amenities are designed to elevate your stay and <br> create memorable experiences</p>
                        <button type="button" class="hero-button">View Portraits</button>
                    </div>
                </div>
    
                <div class="wrapper">
                    <div class="images">
                        <div class="image"></div>
                        <div class="image"></div>
                        <div class="image"></div>
                        <div class="image"></div>
                    </div>
                </div>
    
                <div class="navigation">
                    <div class="right">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-right" width="26" height="26" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" />
                            <polyline points="9 6 15 12 9 18" />
                        </svg>
                    </div>
                    <div class="left">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-left" width="26" height="26" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" />
                            <polyline points="15 6 9 12 15 18" />
                        </svg>
                    </div>
                </div>
            </main>
        </div>
        <div class="timings-page">
            <div class="time-heading autoReveal" >
                <h1>
                    Here are all our amenities
                </h1>
            </div>

            <div id="swimming-pool">
                <div>
                  <img src="img/image-1.jpg" alt="" class="amenities-img autoReveal" />
                </div>
                <div class="amenities-text autoReveal">
                  <p>
                    Escape to a serene oasis at our hotel’s stunning outdoor pool, where tranquility meets luxury. Nestled amidst lush greenery 
                    and accompanied by panoramic views, the pool offers an ideal spot to soak up the sun, cool off with a refreshing swim, or simply relax with a book in hand. 
                    The modern design, crystal-clear waters, and ample seating create an inviting atmosphere for guests of all ages.
                </p>
                <p>
                    For those seeking a little indulgence, our poolside service offers a selection of beverages and light bites to enhance your experience. 
                    Whether you’re an early riser looking to enjoy the calm of the morning or prefer an evening swim under the stars, our pool caters to your every need.
                </p>
                <p><strong>Timings:</strong> Open daily from 7:00 AM to 9:00 PM.</p>
                </div>
        </div>

        <div id="sauna">
            <div>
              <img src="img/pexels-karolina-grabowska-4210372.jpg" alt="" class="amenities-img autoReveal" />
            </div>
            <div class="amenities-text sauna-text autoReveal">
              <p>
                Rejuvenate your body and mind in our luxurious sauna, the perfect retreat for relaxation and wellness. Designed with modern elegance and soothing ambiance, 
                our sauna provides an ideal space to unwind after a long day or invigorate your senses before starting anew. The gentle heat helps to relieve stress, 
                improve circulation, and promote overall well-being.
            </p>
            <p>
                Whether you’re seeking a moment of peace on your own or looking to share a relaxing experience with friends, our sauna ensures a serene escape from the hustle of daily life. 
                With plush seating and a calming atmosphere, it’s more than a wellness treatment—it’s a sanctuary for your soul.
            </p>
            <p><strong>Timings:</strong> Open daily from 8:00 AM to 10:00 PM.</p>
            </div>
        </div>

    </div>
</body>



<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-col">
          <h4>our hotel</h4>
          <ul>
            <li><a href="/aboutUs">about us</a></li>
            <li><a href="/contactUs">contact us</a></li>
            <li><a href="/amenities">amenities</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>get help</h4>
          <ul>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/booking-policy">Booking Policy</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>follow us</h4>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</html>

</html>