<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/checkout.css" />
    <link rel="stylesheet" href="/menubar.css" />
    <link rel="stylesheet" href="/footer.css" />
    <script src="/src/checkout.js" defer></script>
    <script src="src/menubar.js" defer></script>
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="wrapper-div">
      <div id="menu-bar">
        <div id="logo-menubar">
          <a href="/">
            <img src="/img/IMG_3762.jpg" alt="Logo" class="logo" />
          </a>
        </div>
        <div id="menu-options">
          <a class="menu-text" href="/aboutUs">About us</a>
          <a class="menu-text" href="/amenities">Amenities</a>
          <a class="menu-text" href="/contactUs">Contact us</a>
          <a class="menu-text" href="/booking-page">Book now</a>
        </div>
      </div>
      <main>
        <div class="checkout-container">
          <!-- Image Gallery Section -->
          <div class="image-gallery">
            <div class="slide-container">
              <div id="slider" class="slider-content">
                <!-- Images for the slider will be dynamically injected here by JavaScript -->
              </div>
              <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
              <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
          </div>

          <!-- Booking Details Section -->
          <div class="booking-summary">
            <div class="booking-details">
              <h2>Your Booking Summary</h2>
              <p><strong>Room:</strong> <span id="room-name"></span></p>
              <p>
                <strong>Total Price:</strong> <span id="total-price"></span>
              </p>
              <p>
                <strong>Price per Night:</strong> <span id="room-price"></span>
              </p>
              <p>
                <strong>Check-in Date:</strong> <span id="start-date"></span>
              </p>
              <p>
                <strong>Check-out Date:</strong> <span id="end-date"></span>
              </p>
              <p><strong>Check-in Time:</strong> 10:00 AM</p>
              <p><strong>Checkout Time:</strong> 10:00 AM</p>
              <p><strong>Adults:</strong> <span id="adults-num"></span></p>
              <p><strong>Children:</strong> <span id="children-num"></span></p>
              <p>
                <strong>Room Description:</strong>
                <span id="room-description"></span>
              </p>
              <p><strong>Beds:</strong> <span id="beds-count"></span></p>
              <p>
                <strong>Additional Charges:</strong>
                <span id="extra-charges-note"></span>
              </p>
            </div>
            <div class="finalize-booking">
              <button id="confirm-booking">Confirm Booking</button>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-col">
          <h4>our hotel</h4>
          <ul>
            <li><a href="/aboutUs">about us</a></li>
            <li><a href="/contactUs">contact us</a></li>
            <li><a href="/amenities">amenities</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>get help</h4>
          <ul>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/booking-policy">Booking Policy</a></li>
            <li><a href="/location">getting here</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>follow us</h4>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</html>
