<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/confirmation.css" />
        <link rel="stylesheet" href="/menubar.css" />
        <link rel="stylesheet" href="/footer.css" />
        <script src="/src/confirmation.js" defer></script>
        <script src="/src/menubar.js" defer></script>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
          href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
          rel="stylesheet"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
          href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap"
          rel="stylesheet"
        />
        <title>Document</title>
  <body>
    <div class="wrapper-div">
        <div id="menu-bar">
            <div id="logo-menubar">
              <a href="/">
                <img src="/img/IMG_3762.jpg" alt="Logo" class="logo" />
              </a>
            </div>
            <div id="menu-options">
              <a class="menu-text" href="/aboutUs">About us</a>
              <a class="menu-text" href="/amenities">Amenities</a>
              <a class="menu-text" href="/contactUs">Contact us</a>
              <a class="menu-text" href="/booking-page">Book now</a>
            </div>
        </div>
        <main>
            <div class="rooms-container">
                
            </div>
        </main>
    </div>
</body>
<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-col">
          <h4>our hotel</h4>
          <ul>
            <li><a href="/aboutUs">about us</a></li>
            <li><a href="/contactUs">contact us</a></li>
            <li><a href="/amenities">amenities</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>get help</h4>
          <ul>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/booking-policy">Booking Policy</a></li>
            <li><a href="/location">getting here</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>follow us</h4>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</html>