body {
  margin: 0px;
  overflow-x: hidden;
  font-family: "Karla", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: Regular;
}

h1 {
  font-family: "Spectral", serif;
  font-weight: medium;
}
main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  padding: 0 3.125rem;
  position: relative;
}

.wrapper {
  position: absolute;
  right: 0;
  width: 40%; /* Set a fixed width for the right section */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Prevent overflow */
  z-index: 3;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
  background-color: #f9f9f9;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
}

h1 {
  font-family: "Spectral", serif;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #222;
}

.amenity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 10px;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 1100px;
}

.amenity:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.amenity img {
  width: 200px;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
}

.amenity-details {
  flex: 1;
  margin-left: 1.5rem;
}

.amenity-details h2 {
  font-family: "Spectral", serif;
  font-size: 1.5rem;
  margin: 0;
  color: #444;
}

.amenity-details p {
  margin: 0.5rem 0;
  color: #555;
  font-size: 1rem;
  line-height: 1.5;
}

.timings {
  font-weight: bold;
  color: #666;
}

.footer {
  background-color: #f0eeed;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: black;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: black;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
