body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Karla", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: Regular;
  background-color: #f4f4f4;
}

.wrapper-div {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  height: 100%;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1em 0;
  text-align: center;
}

.checkout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 40px;
}

.image-gallery {
  flex: 1;
  max-width: 600px;
}

.mySlides {
  display: none;
}

.slide-container {
  position: relative;
  width: 100%;
  max-width: 600px; /* Adjust width as necessary */
  margin: 0 auto;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.8); /* White arrow color */
  border-radius: 50%;
  cursor: pointer;
  z-index: 10; /* Ensure the arrows are on top */
  user-select: none;
}

.prev {
  left: 10px; /* Position on the left side */
}

.next {
  right: 10px; /* Position on the right side */
}

.booking-summary {
  flex: 1;
  max-width: 600px;
}

.finalize-booking {
  text-align: center;
  padding-top: 30px;
}

#confirm-booking {
  background-color: #cfa7a3;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#confirm-booking:hover {
  background-color: #c3a19d;
  transform: scale(1.05); /* Slightly increase the size */
}

.main {
  padding: 20px;
  max-width: 600px;
  margin: auto;
}

.booking-details {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.1);
  min-height: 500px;
}

h2 {
  font-family: "Spectral", serif;
}

.booking-summary p {
  margin-bottom: 10px;
}

#extra-charges-note {
  color: #d9534f;
}

.slider-img-large {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.finalize-booking {
  text-align: center;
}
