body {
  font-family: Arial, sans-serif;
  background-color: rgb(84, 150, 172); /* Page background */
  color: white; /* Text color */
  margin: 0;
  padding: 0;
}

.header {
  background-color: #6d7c8d;
  color: white;
  padding: 20px;
  text-align: center;
}

.heading {
  text-align: center;
  margin: 20px 0;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: aliceblue;
  padding: 10px;
}

.navbar a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 10px 30px;
  margin: 0 16px;
}

.contact-info {
  padding: 20px;
}

.all {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.box {
  border: 1px solid #007BFF;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  background-color: #78b3c6;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.form {
  background-color: rgba(82, 100, 113, 0.716); 
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  margin: 40px auto; }

.form h1 {
  text-align: center;
  margin-bottom: 20px; 
}

.form label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

.form input[type="text"],
.form textarea {
  width: 100%;
  padding: 10px; /* Increased padding for better touch */
  margin-top: 5px;
  border: 1px solid #707f90; /* Use main color for border */
  border-radius: 5px; /* Slightly rounded corners */
  background-color: #f9f9f9; /* Light background for inputs */
  color: #333; /* Dark text for readability */
}

.form input[type="text"]:focus,
.form textarea:focus {
  border-color: #6c7f94; /* Change border color on focus */
  outline: none; /* Remove default outline */
}

.form input[type="submit"] {
  background-color: #505a67;
  color: white;
  border: none;
  padding: 12px 15px;
  border-radius: 5px; 
  cursor: pointer;
  margin-top: 20px; 
  font-size: 16px;
}

.form input[type="submit"]:hover 
{
  background-color: #0056b3; 
  transform: translateY(-2px); 
  transition: background-color 0.3s, transform 0.2s; 

}
footer {
  background-color: #90a3b3; /* Use the same color as the header */
  color: white;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: white; /* Link color */
  text-decoration: none;
  margin: 0 15px; /* Space between links */
}

.footer-links a:hover {
  text-decoration: underline; /* Underline on hover */
}

