/* Ensure the menu bar stays on top */
#menu-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 50px;
  padding-left: 50px;
  height: 115px;
  grid-row: 1;
  background-color: #f0eeed;
  position: relative; /* or fixed */
  z-index: 1000;
}
#menu-options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 60px;
}

#logo-menubar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 80px;
  width: auto;
  padding-top: 10px;
}

.menu-text {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  font-size: 20px;
  color: black;
  cursor: pointer;
}

.menu-text:hover {
  color: #c3a19d;
}

a {
  text-decoration: none;
}
