body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.wrapper-div {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  height: 100%;
}

#view-dashboard {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.views {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text,
buttonDiv {
  text-align: center;
}

buttonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
